<h1>Bug submit</h1>

<div class="status" [hidden]="!statusMessage">{{ statusMessage }}</div>

<div class="grid">
  <label>Name</label>
  <input [(ngModel)]="input.name" type="text" [disabled]="!ready" />
  <label>Email</label>
  <input type="text" [disabled]="!ready" />
  
  <label>Project</label>
  <select [(ngModel)]="input.project" (change)="updateAvailables()"
      class="full" [disabled]="!ready || available.projects.length == 0">
    <option>(select)</option>
    <option *ngFor="let project of available.projects">
      {{ project }}
    </option>
  </select>
  <label>Version</label>
  <select [(ngModel)]="input.version" (change)="updateAvailables()"
      [disabled]="!ready || available.versions.length == 0">
    <option>(select)</option>
    <option *ngFor="let version of available.versions">
      {{ version }}
    </option>
  </select>
  <label>Platform</label>
  <select [(ngModel)]="input.platform" (change)="updateAvailables()"
      [disabled]="!ready || available.platforms.length == 0">
    <option>(select)</option>
    <option *ngFor="let platform of available.platforms">
      {{ platform }}
    </option>
  </select>
  
  <label>Summary</label>
  <input [(ngModel)]="input.summary"
    class="full" type="text" [disabled]="!ready" />
  
  <label>Body</label>
  <textarea [(ngModel)]="input.body"
    class="body full" rows=20 [disabled]="!ready"></textarea>
  
  <div></div>
  <button (click)="generateAndSubmitBugReport()" [disabled]="!ready">
    Submit
  </button>
</div>
