<h1>Bug submit</h1>

<div class="status" [hidden]="!statusMessage">{{ statusMessage }}</div>

<div class="grid">
	<label>Name</label>
	<input type="text" [disabled]="!ready" />
	<label>Email</label>
	<input type="text" [disabled]="!ready" />

	<label>Project</label>
	<select class="full"
			[disabled]="!ready || availableProjects.length == 0"
			(change)="selectProject($event.target.value)">
		<option value="null">(select)</option>
		<option *ngFor="let project of availableProjects">
			{{ project }}
		</option>
	</select>
	<label>Version</label>
	<select [disabled]="!ready || availableVersions.length == 0"
			(change)="selectVersion($event.target.value)">
		<option value="null">(select)</option>
		<option *ngFor="let version of availableVersions">
			{{ version }}
		</option>
	</select>
	<label>Platform</label>
	<select [disabled]="!ready || availablePlatforms.length == 0"
			(input)="selectPlatform($event.target.value)">
		<option value="null">(select)</option>
		<option *ngFor="let platform of availablePlatforms">
			{{ platform }}
		</option>
	</select>

	<label>Summary</label>
	<input class="full" type="text" [disabled]="!ready" />
	
	<label>Body</label>
	<textarea class="body full" rows=20 [disabled]="!ready"></textarea>
	
	<div></div>
	<button [disabled]="!ready">Submit</button>
</div>
